@import url("style.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font-family-system);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    margin: 20px auto;
    padding: 15px 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    border-radius: 8px;
    padding: .2rem;

    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);

    &:hover {
        background-color: var(--primary-color);
        color: white;
    }

    &#fetch {
        margin-top: 1rem;
    }
}

.over {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    border-radius: 0;

    /* border: var(--bs-border-width) solid var(--bs-border-color); */
    padding: 1rem;

    font-size: 0.9rem;

    .change {
        /* max-width: 400px; */
        margin: auto;

        background-color: white;
        border: 1px solid var(--outline);
        border-radius: 12px;
        padding: 1rem;

        .top {
            display: flex;
            justify-content: space-between;

        }

        button.cancel {
            padding: 3px 10px;
            border-radius: 10px;
            cursor: pointer;
            border: 1px solid var(--button-primary-outline);
            font-weight: 600;
            font-family: var(--font-family-system);
        }

        #profile-picture {
            width: 100%;
            height: auto;
            display: flex;
            flex: 1;
            justify-content: center;
            margin-bottom: 1rem;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }

            div {}
        }

        label {
            font-weight: 600;
            font-family: var(--font-family-system);
            font-size: 0.9rem;
        }

        input {
            width: 100%;
            background-color: var(--bs-body-bg);
            border: var(--bs-border-width) solid var(--bs-border-color);
            height: 2rem;
            border-radius: 10px;
            padding: .5rem;
            margin-bottom: .2rem;
        }

        textarea {
            background-color: var(--bs-body-bg);
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: 10px;
            padding: .5rem;
            width: 100%;
            resize: none;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.row>* {
    padding: 0 !important;
}

.row {
    margin: 0;
}

.full-name {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-family-system);
}

#profile-info {
    font-family: var(--font-family-system);
    font-size: 0.9rem;
}

#profile-picture {
    color: black;
    width: 80px;
    height: 80px;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;

    position: relative;

    img {
        /* border: 1px solid var(--secondary-text-color); */
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    div {
        width: min-content;
        position: absolute;
        bottom: 0;
        /* background-color: blue; */
    }

    .avatar-upload {
        height: 100%;
        aspect-ratio: 1/1;
        background-color: rgba(0, 0, 0, 0.3); /* Màu nền đen */
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.2s ease;

        .upload-label:hover {
            transform: scale(0.9);
        }
    }
}

.bio p {
    margin-top: 20px;
    font-size: 0.9rem;
    font-family: var(--font-family-system);
}

.info {
    font-size: 0.9rem;
    text-align: center;

    display: flex;
    justify-content: space-between;

    >* {
        width: 30%;
    }

    span {
        font-weight: bold;
        display: block;
    }

    .bar {
        width: min-content;
        border-right: 2px solid #f5f3f8;
    }
}

.edit {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 0.9rem;
}

.nav-tabs {
    display: flex;
    justify-content: space-around;

    >* {
        width: 50%;
    }

    button {
        width: 100%;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid transparent;
        color: blue;
    }
}

.profile {
    .divider {
        display: flex;
        justify-content: space-around;

        margin-bottom: 1rem;

        >* {
            width: 40%;
            text-align: center;

            /* background-color: cornflowerblue; */
        }

        & *:first-child {
            color: var(--primary-color);
            border-bottom: 2px solid var(--primary-color);
            font-weight: bold;
        }
    }
}

.other-posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info {
    font-family: var(--font-family-system) !important;
    font-size: 0.9rem;
}

.post-info a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.post-info a:hover {
    text-decoration: underline;
}

.post-info .time {
    color: var(--secondary-text-color);
}

.post-info .username {
    font-weight: 600;
}

.content-wrapper {
    margin-left: 0;
}

.text {
    font-family: var(--font-family-system);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.media {
    margin-bottom: 10px;
}

.post-image {
    height: auto;
    max-width: 100%;
    max-height: var(--max-post-height);
    object-fit: contain;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.actions {
    margin-left: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.actions button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    color: #4e4e4e;
    transition: color 0.2s ease;
    font-family: var(--font-family-system);
    font-size: 0.85rem;
    border-radius: 20px;
    z-index: 1;
}

.like-button-clicked svg path {
    color: var(--new-notification);
    fill: var(--new-notification)
}

.like-button-clicked p {
    color: var(--new-notification)
}

.actions .comment-button {
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: var(--hover-background-color);
}

.button p {
    margin-left: 5px;
    z-index: 10;
}

.edit-btn {
    width: 100%;
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--button-primary-outline);
    font-weight: 600;
    font-family: var(--font-family-system);
    background-color: transparent;
    z-index: 2;
    color: var(--primary-color)
}

.post {
    cursor: pointer;
    background-color: #fff;
    border-radius: var(--block-content-border-radius);
    padding: 15px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.add-post {
    cursor: pointer;
    background-color: #fff;
    border-radius: var(--block-content-border-radius);
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.post-block {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    margin-left: -5px;
}

.post-block:hover {
    background-color: var(--hover-background-color);
}

.comment-input {
    color: var(--secondary-text-color)
}

.add-post-area {
    width: 100%;
    display: flex;
    align-items: center;
}

.thread {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px auto 20px;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100px;
    display: flex;
    border-top: 1px solid #e0e0e0;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 10;
}

.post-count:hover,
.follower-count:hover,
.following-count:hover {
    border-radius: 10px;
    background-color: var(--hover-background-color);
}

.post-count,
.follower-count,
.following-count {
    cursor: pointer;
    padding: 10px 0;
}

#popup-follower {
    border-radius: var(--block-content-border-radius);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#popup-follower.active-follower {
    visibility: visible;
    opacity: 1;
}

.overlay-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 99;
}

.overlay-follower.active-follower {
    opacity: 1;
    visibility: visible;
}

.heading-follower {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid var(--outline);
}

.follow-number {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-bottom: 1px solid var(--outline);
}

.tab {
    background: none;
    border: none;
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: var(--font-family-system);
    text-align: center;
}

.tab.active {
    color: var(--primary-color);
    position: relative;
    padding: 10px 0;
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-radius: 16px ;
    height: 2px;
    background-color: var(--primary-color); 
}


.search-result-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 6px 5px;
    border-radius: var(--block-content-border-radius);
    width: 100%;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    z-index: 2; 
    flex-shrink: 0;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-username {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-text-color)
}

.search-username:hover {
    text-decoration: underline;
}

.search-content {
    max-width: calc(100% - 80px);
    flex-grow: 1;
    z-index: 2; 
}

.search-text p {
    margin: 0;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

.search-user-bio {
    color: var(--secondary-text-color);
}

.follow-btn {
    font-size: 0.9rem;
    margin-left: auto;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--button-primary-outline);
    font-weight: 600;
    font-family: var(--font-family-system);
    background-color: transparent;
    z-index: 2;
    color: var(--primary-color)
}

.follow-btn:hover {
    background-color: var(--primary-color);
    color: white
}

.follow-btn p {
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.follow-btn-clicked {
    font-size: 0.9rem;
    background-color: transparent;
    color: var(--secondary-text-color);
}

.follow-btn-clicked:hover {
    background-color: transparent;
    color: var(--secondary-text-color);
}


.follow-result {
    overflow-y: auto;
}

@media (max-width: 768px) {
    .name {
        text-align: center;
    }
}