@import url("style.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 15px 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.search-settings {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--outline);
    margin-bottom: 10px;
    margin-left: 2px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 1rem;;
    margin-top: 10px;
}

.tab {
    background: none;
    border: none;
    color: var(--secondary-text-color);
    margin-right: 10px; 
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: var(--font-family-system);
}

.tab.active {
    color: var(--primary-color);
    position: relative;
    padding: 10px 0;
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-radius: 16px ;
    height: 2px;
    background-color: var(--primary-color); 
}

.hidden {
    display: none !important;
}

#search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-result-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 6px 5px;
    border-radius: var(--block-content-border-radius);
    width: 100%;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
}

.search-result-item:hover .overlay {
    background: var(--hover-background-color);
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    z-index: 2; 
    flex-shrink: 0;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-username {
    font-weight: 600;
}

.search-content {
    max-width: calc(100% - 80px);
    flex-grow: 1;
    z-index: 2; 
}

.search-text p {
    margin: 0;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

.search-user-bio {
    color: var(--secondary-text-color);
}

.follow-btn {
    margin-left: auto;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--button-primary-outline);
    font-weight: 600;
    font-family: var(--font-family-system);
    background-color: transparent;
    z-index: 2;
    color: var(--primary-color);
}

.follow-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.follow-btn p {
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.follow-btn.following {
    background-color: transparent;
    color: var(--secondary-text-color);
}

.form-control {
    color: var(--secondary-text-color)
}

.form {
    position: relative;
    width: 100%;
}

.form .icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); 
}

.form-input {
    font-size: 0.9rem;
}

.form-input::placeholder {
    color: var(--secondary-text-color);
    font-size: 0.9rem;
}

.form-input {
    padding-left: 35px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border: 2px solid var(--primary-color);
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100px;
    display: flex;
    border-top: 1px solid #e0e0e0;
    padding: 10px 0;
    box-sizing: border-box;
}

