textarea {
    outline: none;
    border: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border-radius: var(--block-content-border-radius);
}

#popup.active {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 99;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

#heading-add-post {
    position: sticky; 
    top: 0; 
    z-index: 10; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    border-bottom: 1px solid var(--outline);
    padding: 10px 0;
}

.hover-element {
    cursor: pointer;
    font-size: 0.95rem;
}

#body-add-post {
    height: 100%;
    padding: 10px;
}

.post-block-popup {      
    overflow-y: auto;       
    overflow-x: hidden;    
}

.post-input {
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    overflow: hidden; 
}

.post-feed-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-height: 70vh;
}

.post-feed-header {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 10px 5px;
    width: 100%;
}

.post-user-info {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 3px;
    flex-shrink: 0;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-username {
    font-weight: 600;
}

.post-text {
    max-width: calc(100% - 80px);
    flex-grow: 1;
    z-index: 2; 
}

.post-text p,
.post-text textarea {
    margin: 0;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

.upload-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding-bottom: 5px;
}

.upload-actions:hover {
    background-color: var(--hover-background-color);
    border-radius: 50%;
}

.upload-label {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.image-preview {
    position: relative;
}

.image-preview img {
    width: auto;
    max-width: 93%;
    max-height: 100%;
    border-radius: 4px;
}

.remove-image {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}

.close-full-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    color: var(--secondary-text-color);
    z-index: 2;
}

.post-button {
    margin-left: auto;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--button-primary-outline);
    background-color: transparent;
    z-index: 2;
    font-weight: 600;
    font-family: var(--font-family-system);
    font-size: 0.9rem;
}

.post-button-wrapper {
    padding: 15px 5px;
    display: flex;
    align-content: center;
}

@media (max-width: 575.98px) {
    .post-feed-form {
        max-height: 70vh;
    }

    .post-block-popup {
        height: 100%;
    }
}
