@import url("style.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-system);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.thread {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto 5rem;
}

.post {
    cursor: pointer;
    background-color: #fff;
    border-radius: var(--block-content-border-radius);
    padding: 15px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header {
    padding: 10px 20px 0;
}

.other-posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-top: 3px;
    flex-shrink: 0;
}

.post-info {
    font-family: var(--font-family-system) !important;
    font-size: 0.9rem;
}

.post-info a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.post-info a:hover {
    text-decoration: underline;
}

.post-info .time {
    color: var(--secondary-text-color);
}

.post-info .username {
    font-weight: 600;
}

.content-wrapper {
    margin-left: 0;
}

.text {
    font-family: var(--font-family-system);
    font-size: 0.9rem;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.media {
    margin-bottom: 10px;
}

.post-image {
    height: auto; 
    max-width: 100%;
    max-height: var(--max-post-height); 
    object-fit: contain;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.actions {
    margin-left: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.actions button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    color: #4e4e4e;  
    transition: color 0.6s ease;
    font-family: var(--font-family-system);
    font-size: 0.85rem;
    border-radius: 20px;
    z-index: 1;
}

.like-button-clicked svg path {
    color: var(--new-notification);
    fill: var(--new-notification)
}

.like-button-clicked p {
    color: var(--new-notification)
}

.actions .comment-button {
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: var(--hover-background-color);
}

.button {
    transition: all 0.3s ease;
}

.button:active {
    transform: scale(0.9);
}

.button p {
    margin-left: 5px;
    z-index: 10;
}

textarea {
    outline: none;
    border: none;
    resize: none;
}


.add-post {
    cursor: pointer;
    background-color: #fff;
    border-radius: var(--block-content-border-radius);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-radius: var(--block-content-border-radius);
    padding: 15px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.add-post-block {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-left: 10px;
    background-color: var(--hover-background-color);
}

.add-post-block:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.comment-input {
    color: var(--secondary-text-color)
}

.add-post-user-info {
    display: flex;
    align-items: center;
}

.add-post-area {
    width: 100%;
    display: flex;
    align-items: center;
}

.comment-input {
    width: 100%;
    font-size: 18px;
    padding: 10px 10px 10px 0px; 
}

.post-block {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding: 10px 0px;
    border-radius: 5px;
    background-color: var(--hover-background-color);
}

.post-block p {
    font-family: var(--font-family-system);
    color: var(--secondary-text-color);
    font-size: 0.9rem;
    width: 100%;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

#popup.active {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 99;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

#heading-add-post {
    position: sticky; 
    top: 0; 
    z-index: 10; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    border-bottom: 1px solid var(--outline);
    padding: 10px 0;
}

.hover-element {
    cursor: pointer;
    font-size: 0.95rem;
}

#body-add-post {
    height: 100%;
    padding: 10px;
}

.post-block-popup {      
    overflow-y: auto;       
    overflow-x: hidden;    
}

.post-input {
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    overflow: hidden; 
}

.post-feed-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-height: 70vh;
}

.post-feed-header {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 10px 5px;
    width: 100%;
}

.post-user-info {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-username {
    font-weight: 600;
}

.post-text {
    max-width: calc(100% - 80px);
    flex-grow: 1;
    z-index: 2; 
}

.post-text p,
.post-text textarea {
    margin: 0;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

.upload-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding-bottom: 5px;
}

.upload-actions:hover {
    background-color: var(--hover-background-color);
    border-radius: 50%;
}

.upload-label {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.image-preview {
    position: relative;
}

.image-preview img {
    width: auto;
    max-width: 93%;
    max-height: 100%;
    border-radius: 4px;
}

.remove-image {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}

.close-full-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    color: var(--secondary-text-color);
    z-index: 2;
}

.post-button {
    margin-left: auto;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--button-primary-outline);
    background-color: transparent;
    z-index: 2;
    font-weight: 600;
    font-family: var(--font-family-system);
    font-size: 0.9rem;
}

.post-button-wrapper {
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    border-top: 1px solid #e0e0e0;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 10;
}

.row-2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.tab-post {
    background: none;
    border: none;
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: var(--font-family-system);
    text-align: center;
    width: 50%;
    padding: 5px 0;
    border-bottom: 1px solid var(--outline);
    text-decoration: none;
}

.tab-post.active {
    color: var(--primary-color);
    position: relative;
}

.tab-post.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-radius: 16px ;
    height: 2px;
    background-color: var(--primary-color); 
}