<div class="main">
    <img src="/images/logo.svg" alt="" srcset="">
    <div class="content col-12 col-md-5 col-lg-4 mx-auto d-flex justify-content-center">
        <div class="actual-content mt-2">
            <h2>Reset Password</h2>
            <h3 class="text-center">Enter your Email address to receive a password reset link</h3>
            {{!-- action="javascript:void(0);" --}}
            <form action="/api/auth/reset" target="_self" method="post">
                <!-- Email Field -->
                <div class="border-lable-flt">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email" required>
                    <label for="email">Email</label>
                </div>
                <div id="out" style="color: red">{{error}}</div>

                <!-- Sign In Button -->
                <button type="submit" id="forget-password">Send email</button>
            </form>
            <p>No account yet? <a href="/signup">Sign up</a></p>
        </div>
    </div>
</div>

<script type="module">
    const forgetPassword = async () => {
        window.location.href = '/resetpassword'
    }

    const forgetPasswordButton = document.querySelector("#forget-password")
    forgetPasswordButton.addEventListener("click", forgetPassword)
</script>