<link rel="stylesheet" href="./css/Post.css">

<div class="thread col-11 col-md-8 col-lg-5">
    <!-- Post chính -->
    <div class="post">
        <div class="user-post-info">
            <img src="https://i.pinimg.com/736x/69/56/ff/6956ffc5caa89f3bb844c1ab7432739d.jpg" alt="User profile" class="profile-pic">
            <div class="post-info">
                <a href="./otherProfile.html"><p class="username">travel.journey</p></a>
                <span class="time">1w</span>
            </div>
        </div>
        <div class="content-wrapper">
            <p class="main-post-text">
                Finally checked out Japan and luckily, no line! Verdict: super delicious, but not totally convinced it's worth the price point. What do you think?
            </p>

            <div class="media">
                <img src="https://i.pinimg.com/736x/47/55/ca/4755ca0523caf299505ae160c2a2ca8b.jpg" alt="Post image" class="post-image" onclick="openFullscreen(0)">
            </div>

            <div class="modal" id="imageModal-0">
                <svg style="display: none;" id="closeButton-0" class="close-full-image" onclick="closeFullscreen(0)" fill="#fff" viewBox="-3.5 0 19 19" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z"></path>
                    </g>
                </svg>
                <img src="https://i.pinimg.com/736x/47/55/ca/4755ca0523caf299505ae160c2a2ca8b.jpg" alt="Full Image" class="full-image">
            </div>
        </div>
        
        <div class="actions container text-center">
            <button class="like-button button hover-icon" onclick="toggleLike(this)">
                <svg viewBox="0 0 24 24" width="18" height="18" class="nav-icon">
                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
                <p>2.9K</p>
            </button>
            <button class="comment-button button hover-icon">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_iconCarrier"> 
                        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 14.663 3.04094 17.0829 4.73812 18.875L2.72681 21.1705C2.44361 21.4937 2.67314 22 3.10288 22H12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </svg> 
                <p>17</p>
            </button>
        </div>
    </div>

    <div class="comment-section">
        <div class="comment-upload mb-2 mt-3">
            <div class="user-info">
                <img src="https://pub-b0a9bdcea1cd4f6ca28d98f878366466.r2.dev/1731293754064" alt="Profile picture" class="profile-pic">
            </div>
            <div class="comment-block">
                <div class="comment-wrapper">
                    <textarea placeholder="Send a comment..." class="comment-input-text" id="newCommentInput" onfocus="showButtons()"></textarea>
                    <div class="comment-actions">
                        <label for="commentImageInput" class="upload-image-comment-btn">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14.2647 15.9377L12.5473 14.2346C11.758 13.4519 11.3633 13.0605 10.9089 12.9137C10.5092 12.7845 10.079 12.7845 9.67922 12.9137C9.22485 13.0605 8.83017 13.4519 8.04082 14.2346L4.04193 18.2622M14.2647 15.9377L14.606 15.5991C15.412 14.7999 15.8149 14.4003 16.2773 14.2545C16.6839 14.1262 17.1208 14.1312 17.5244 14.2688C17.9832 14.4253 18.3769 14.834 19.1642 15.6515L20 16.5001M14.2647 15.9377L18.22 19.9628M18.22 19.9628C17.8703 20 17.4213 20 16.8 20H7.2C6.07989 20 5.51984 20 5.09202 19.782C4.7157 19.5903 4.40973 19.2843 4.21799 18.908C4.12583 18.7271 4.07264 18.5226 4.04193 18.2622M18.22 19.9628C18.5007 19.9329 18.7175 19.8791 18.908 19.782C19.2843 19.5903 19.5903 19.2843 19.782 18.908C20 18.4802 20 17.9201 20 16.8V13M11 4H7.2C6.07989 4 5.51984 4 5.09202 4.21799C4.7157 4.40973 4.40973 4.71569 4.21799 5.09202C4 5.51984 4 6.0799 4 7.2V16.8C4 17.4466 4 17.9066 4.04193 18.2622M18 9V6M18 6V3M18 6H21M18 6H15" stroke="#b5b5b5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </label>
                        <input type="file" class="image-input" id="commentImageInput" accept="image/*" onchange="previewImage()">
                        <button class="send-comment" onclick="addNewComment()">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier"> <path d="M9.51002 4.23001L18.07 8.51001C21.91 10.43 21.91 13.57 18.07 15.49L9.51002 19.77C3.75002 22.65 1.40002 20.29 4.28002 14.54L5.15002 12.81C5.37002 12.37 5.37002 11.64 5.15002 11.2L4.28002 9.46001C1.40002 3.71001 3.76002 1.35001 9.51002 4.23001Z" stroke="currentColor" stroke-width="2.1" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M5.44 12H10.84" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </button>
                    </div>
                </div>
                <img id="commentImagePreview" class="image-preview">
            </div>
        </div>

        <div id="commentsContainer">
            <!-- Comments sẽ được thêm vào đây -->
        </div>
    </div>
</div>

<script src="./script/Post.js"></script>