<div class="main">
    <img src="/images/logo.svg" alt="" srcset="">
    <div class="content col-12 col-md-5 col-lg-4 mx-auto d-flex justify-content-center">
        <div class="actual-content mt-2">
            <h2>Reset Password</h2>
            {{!-- action="javascript:void(0);" --}}
            <form class="form" method="post" method="post" action="/signin" target="_self">
                <!-- Email Field -->
                <div class="border-lable-flt">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your new Password" required>
                    <label for="password">Password</label>
                </div>
                <div class="mt-2 border-lable-flt">
                    <input type="password" class="form-control" name="password-confirm" id="password-confirm" placeholder="Reenter your new Password" required>
                    <label for="password-confirm">Confirm Password</label>
                </div>
                <div id="out" style="color: red"></div>

                <!-- Sign In Button -->
                <button type="submit" id="reset-password">Save password</button>
            </form>
        </div>
    </div>
</div>

<script type="module">
    const resetPassword = async () => {
        window.location.href = '/signin'
    }

    const resetPasswordButton = document.querySelector("#reset-password")
    resetPasswordButton.addEventListener("click", resetPassword)
</script>