<div class="main">
    <img src="/images/logo.svg" alt="" srcset="">
    <div class="content col-12 col-md-5 col-lg-4 mx-auto d-flex justify-content-center">
        <div class="actual-content mt-2">
            <h2>Welcome back</h2>
             {{!-- action="javascript:void(0);" --}}
            <form class="form" action="/" target="_self" method="post">
                <!-- Email Field -->
                <div class="border-lable-flt">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email" required>
                    <label for="email">Email</label>
                </div>

                <!-- Password Field -->
                <div class="mt-2 border-lable-flt">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
                    <label for="password">Password</label>
                </div>
                <div class="text-end">
                    <p><a href="forgetpassword">Forget password?</a></p>
                </div>
                <div id="out" style="color: red"></div>

                <!-- Sign In Button -->
                <button type="submit" id="sign-in">Sign in</button>
            </form>
            <p>No account yet? <a href="/signup">Sign up</a></p>
        </div>
    </div>
</div>

<script type="module">
    const signIn = async () => {
        window.location.href = '/'
        const email = document.querySelector("#email").value;
        const password = document.querySelector("#password").value;
        signInWithEmailAndPassword(auth, email, password)
        .then((userCredential) => {
            // Signed in
            console.log("Sign in succ")
            const user = userCredential.user;
            const outBox = document.querySelector("#out") 
            outBox.innerHTML = JSON.stringify("") 
            // ...
        })
        .catch((error) => {
            console.log("Failed")
            const errorCode = error.code;
            const errorMessage = error.message;
            const outBox = document.querySelector("#out")
            outBox.innerHTML = JSON.stringify(error.message)
            console.log(errorCode, errorMessage)
                // ..
            });
    }

    const signInButton = document.querySelector("#sign-in")
    signInButton.addEventListener("click", signIn)
</script>