<div class="main">
    <img src="/images/logo.svg" alt="" srcset="">
    <div class="content col-12 col-md-5 col-lg-4 mx-auto d-flex justify-content-center">
        <div class="actual-content mt-2">
            <h2>Welcome back</h2>
            {{!-- action="javascript:void(0);" --}}
            <form action="/api/auth/signin" target="_self" method="post">
                <!-- Email Field -->
                <div class="border-lable-flt">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email"
                        required>
                    <label for="email">Email</label>
                </div>

                <!-- Password Field -->
                <div class="mt-2 border-lable-flt">
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="Enter your password" required>
                    <label for="password">Password</label>
                </div>
                <div class="text-end">
                    <p><a href="forgetpassword">Forget password?</a></p>
                </div>
                <div id="out" style="color: red"></div>

                <!-- Sign In Button -->
                <button type="submit" id="sign-in">Sign in</button>
            </form>
            <p>No account yet? <a href="/signup">Sign up</a></p>
        </div>
    </div>
</div>

<script type="module">
    document.querySelector("form").onsubmit = (e) => {
        e.preventDefault()

        fetch("/api/auth/signin", {
            method: "POST",
            body: new FormData(document.querySelector("form"))
        })
            .then(res => res.json())
            .then(data => {
                if (data.error) {
                    document.querySelector("#out").innerText = data.error
                } else {
                    window.location.href = "/dashboard"
                }
            })
    }
</script>